// Typography
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 15px;
$line-height-base: 28px;

// Colors
$main-color: #D4B254;
$main-color-hover: #C8A74B;
$gray: #eeeeee;
$light-gray: #aaaaaa;
$dark-gray: #222222;
$text-color: #777777;
$white: #ffffff;
$black: #000000;
$shadow-gray: #00000080;
$shadow-light-gray: #00000033;
