// Font Awesome
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

// Variables
@import "variables";

// External
@import "external/hamburger";

// Partials
@import "partial/header";
@import "partial/footer";

@import "partial/main/textImage";
@import "partial/main/feedback";
@import "partial/main/gallery";

body {
    padding: 0;
    margin: 0;
    background: $light-gray;
    font-family: $font-family-roboto;
    font-size: $font-size-base;
    font-weight: 400;
    $line-height-base: 28px;
    color: $text-color;

    @media screen and (max-width: 991px) {
        font-size: 13px;
        line-height: 18px;
    }

    .content-container {
        max-width: 2000px;
        margin: auto;
        position: relative;
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    a {
        color: $white;
        transition: 0.2s ease-in-out;
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        outline: none;
    }

    p {
        line-height: 28px;
        margin: 30px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 700;
        margin: 0;
    }

    h1 {
        font-size: 52px;
        line-height: 58px;
        margin: 10px 0;

        &.shadow {
            text-shadow: 0 0 25px $shadow-gray;
        }

        @media screen and (max-width: 991px) {
            font-size: 28px;
            line-height: 32px;
        }
    }

    h2 {
        font-size: 42px;
        line-height: 52px;
        color: $dark-gray;
        margin: 10px 0;

        @media screen and (max-width: 991px) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
        color: $dark-gray;
        margin: 10px 0;

        @media screen and (max-width: 991px) {
            font-size: 21px;
            line-height: 25px;
        }
    }

    h4 {
        font-size: 24px;
        line-height: 42px;
        color: $white;
        margin: 10px 0;

        @media screen and (max-width: 991px) {
            font-size: 21px;
            line-height: 25px;
        }
    }

    button {
        background: $main-color;
        box-shadow: 0 2px 10px $shadow-light-gray;
        transition: 0.2s ease-in-out;
        border: 0;
        border-radius: 30px;
        line-height: 20px;
        text-transform: uppercase;
        height: 60px;
        padding: 0 60px;
        color: $white;
        letter-spacing: 3px;
        cursor: pointer;
        outline: none;

        @media screen and (max-width: 991px) {
            height: 40px;
            padding: 0 40px;
            font-size: 12px;
            line-height: 14px;
        }

        &:hover {
            background: $main-color-hover;
            box-shadow: 0 2px 5px $shadow-light-gray;
        }

        &.ghost {
            border: 1px solid $main-color;
            background: transparent;
            box-shadow: none;
            padding: 0 40px;

            &.white {
                border: 1px solid $white;

                &:hover {
                    background: $white;
                    color: $black;
                }
            }
        }

        &.hamburger {
            opacity: 1 !important;
            min-width: auto;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            background: none;
            height: 24px;

            @media screen and (min-width: 991px) {
                display: none;
            }

            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                background: $white !important;
            }
        }
    }

    .content-container {
        margin: auto;
        max-width: 2000px;
        width: 100%;
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .lds-ripple div {
        position: absolute;
        border: 4px solid $main-color;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
