@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
     * 3DX
     */

.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DX Reverse
     */

.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before,
.hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DY
     */

.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DY Reverse
     */

.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before,
.hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DXY
     */

.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before,
.hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * 3DXY Reverse
     */

.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburger-inner::before,
.hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
     * Arrow
     */

.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
     * Arrow Right
     */

.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
     * Arrow Alt
     */

.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
     * Arrow Alt Right
     */

.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
     * Arrow Turn
     */

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
     * Arrow Turn Right
     */

.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
     * Boring
     */

.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
     * Collapse
     */

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Collapse Reverse
     */

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Elastic
     */

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
     * Elastic Reverse
     */

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
     * Emphatic
     */

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
     * Emphatic Reverse
     */

.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
     * Minus
     */

.hamburger--minus .hamburger-inner::before,
.hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before,
.hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/*
     * Slider
     */

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
     * Slider Reverse
     */

.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
     * Spin
     */

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Spin Reverse
     */

.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Spring
     */

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
     * Spring Reverse
     */

.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Stand
     */

.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Stand Reverse
     */

.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Squeeze
     */

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Vortex
     */

.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
     * Vortex Reverse
     */

.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburger-inner::before,
.hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.is-active .hamburger-inner::before,
.hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

.header-container {
  height: 900px;
}

@media screen and (max-width: 991px) {
  .header-container {
    height: 450px;
    position: relative;
    z-index: 10;
  }
}

.header-container .slider-container {
  position: absolute;
  width: 100%;
  height: 900px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .header-container .slider-container {
    height: 450px;
  }
}

.header-container .slider-container .swiper-container {
  height: 100%;
}

.header-container .slider-container .swiper-container .slide {
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-container .slider-container .swiper-container .slide::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-container .slider-container .swiper-container .slide .slide-inner {
  max-width: 686px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .header-container .slider-container .swiper-container .slide .slide-inner {
    padding: 0 15px;
  }
}

.header-container .slider-container .swiper-container .slide .slide-inner .slide-description {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-container .slider-container .swiper-container .slide .slide-inner h1 {
  color: #ffffff;
  letter-spacing: -1px;
}

.header-container .slider-container .swiper-container .slide .slide-inner button {
  margin-top: 25px;
}

.header-container .slider-container .swiper-container .swiper-pagination {
  bottom: 30px;
}

.header-container .slider-container .swiper-container .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 50px;
  height: 5px;
  border-radius: 2.5px;
  background: #ffffff;
  margin: 0 5px;
}

.header-container .slider-container .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #D4B254;
}

.header-container .header-inner {
  max-width: 1300px;
  width: calc(100% - 30px);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0 15px;
  transition: 0.2s ease-in-out;
}

.header-container .header-inner::before {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -30px;
  width: calc(100% - 30px);
}

@media screen and (min-width: 991px) {
  .header-container .header-inner.sticky {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    padding: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 1160px;
  }

  .header-container .header-inner.sticky::before {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header-container .header-inner {
    position: fixed;
    top: 0;
    height: 70px;
    left: 0;
    max-width: 100%;
    width: calc(100% - 30px);
    transform: inherit;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 15px 15px 12px;
  }

  .header-container .header-inner::before {
    display: none;
  }

  .header-container .header-inner .menu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.header-container .header-inner .menu-container .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 991px) {
  .header-container .header-inner .menu-container .menu {
    display: flex;
    position: absolute;
    width: 200px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85);
    right: 70px;
    top: 20px;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
  }

  .header-container .header-inner .menu-container .menu.active {
    opacity: 1;
    pointer-events: all;
  }

  .header-container .header-inner .menu-container .menu::before {
    content: "";
    position: absolute;
    right: -6px;
    top: 9px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid rgba(0, 0, 0, 0.85);
  }

  .header-container .header-inner .menu-container .menu .order {
    margin: 15px auto 0;
  }

  .header-container .header-inner .menu-container .menu .social {
    margin: 0 auto 15px;
  }

  .header-container .header-inner .menu-container .menu .social i {
    font-size: 22px;
  }

  .header-container .header-inner .menu-container .menu .menu-left,
  .header-container .header-inner .menu-container .menu .menu-right {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-container .header-inner .menu-container .menu .menu-left .right-menu,
  .header-container .header-inner .menu-container .menu .menu-left .left-menu,
  .header-container .header-inner .menu-container .menu .menu-right .right-menu,
  .header-container .header-inner .menu-container .menu .menu-right .left-menu {
    width: 100%;
  }

  .header-container .header-inner .menu-container .menu .menu-left ul,
  .header-container .header-inner .menu-container .menu .menu-right ul {
    justify-content: flex-start;
  }

  .header-container .header-inner .menu-container .menu .menu-left ul li,
  .header-container .header-inner .menu-container .menu .menu-right ul li {
    text-align: left;
    margin: 0;
    padding: 4px 0;
  }
}

.header-container .header-inner .menu-container ul {
  display: flex;
  justify-content: center;
}

.header-container .header-inner .menu-container ul li {
  margin: 0 20px;
}

.header-container .header-inner .menu-container a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

.header-container .header-inner .menu-container a:hover {
  color: #D4B254;
  text-shadow: 0 0 4px #00000080;
}

.header-container .header-inner .menu-container .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px) {
  .header-container .header-inner .menu-container .logo {
    transform: inherit;
    position: static;
  }
}

.header-container .header-inner .menu-container .logo img {
  max-width: 120px;
}

.header-container .header-inner .menu-container .menu-left,
.header-container .header-inner .menu-container .menu-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .header-inner .menu-container .menu-left {
  margin-right: 10%;
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .header-container .header-inner .menu-container .menu-left ul {
    flex-direction: column;
  }
}

.header-container .header-inner .menu-container .menu-right {
  margin-left: 10%;
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .header-container .header-inner .menu-container .menu-right ul {
    flex-direction: column;
  }

  .header-container .header-inner .menu-container .menu-right ul li {
    text-align: right;
  }
}

.header-container .header-inner .menu-container .social i {
  font-size: 16px;
  margin: 0 4px;
}

.header-container .header-inner .menu-container .order button {
  height: 50px;
}

@media screen and (max-width: 991px) {
  .header-container .header-inner .menu-container .order button {
    height: 40px;
    padding: 0 25px;
  }
}

.footer-container {
  width: calc(100% - 30px);
  background: url("/images/top-slider/slide1.jpg");
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px 15px 100px;
  overflow-y: hidden;
}

@media screen and (max-width: 400px) {
  .footer-container {
    padding: 35px 15px 60px;
  }
}

.footer-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.footer-container .footer {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .footer-container .footer {
    flex-direction: column;
  }
}

.footer-container .footer h4 {
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .footer-container .footer h4 {
    margin-bottom: 10px;
  }
}

.footer-container .footer .block {
  width: 25%;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .footer-container .footer .block {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .footer-container .footer .block {
    width: 100%;
    margin-top: 5px;
  }

  .footer-container .footer .block ul {
    justify-content: center;
  }

  .footer-container .footer .block ul i {
    margin: 0 5px;
  }
}

@media screen and (max-width: 400px) {
  .footer-container .footer .block.social {
    text-align: center;
  }
}

.footer-container .footer .block.social ul {
  display: flex;
}

.footer-container .footer .block.social ul i {
  background: #ffffff;
  color: #000000;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border-radius: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.footer-container .footer .block.social ul i:hover {
  background: #D4B254;
  color: #ffffff;
}

.footer-container a {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
}

.footer-container a:hover {
  color: #D4B254;
}

.footer-container .copyrights {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 13px;
  line-height: 26px;
  margin-top: 50px;
  width: 100%;
  max-width: 1300px;
}

.footer-container .copyrights::before {
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
}

@media screen and (max-width: 400px) {
  .footer-container .copyrights::before {
    bottom: -25px;
  }
}

.footer-container .logo {
  position: relative;
  z-index: 2;
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-container .logo span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.footer-container .logo img {
  max-width: 150px;
  position: relative;
  margin: 0 20px;
}

.footer-container .logo img::before {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 1px;
  width: calc(100% - 150px);
  left: 0;
}

.text-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 667px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .text-image-container {
    flex-direction: column-reverse;
  }
}

.text-image-container ::ng-deep .LazyLoad {
  width: 100%;
  height: 100%;
}

.text-image-container .image {
  max-width: 1000px;
  min-width: 50%;
  background: url("/images/block-image.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .text-image-container .image {
    width: 100%;
    max-width: 100%;
  }
}

.text-image-container .text-block {
  padding-left: 70px;
  padding-right: 15px;
  width: 50%;
}

.text-image-container .text-block .block-inner {
  max-width: 580px;
}

@media screen and (max-width: 991px) {
  .text-image-container .text-block {
    padding-left: 35px;
  }
}

@media screen and (max-width: 767px) {
  .text-image-container .text-block {
    padding: 30px 15px;
    width: calc(100% - 30px);
  }

  .text-image-container .text-block p {
    margin: 0 0 15px;
  }
}

.text-image-container .text-block .description {
  letter-spacing: 3px;
  color: #D4B254;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.feedback-container {
  padding: 0 15px;
  margin: auto;
  background: #eeeeee;
  width: calc(100% - 30px);
}

.feedback-container .feedback {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 120px 0;
}

@media screen and (max-width: 767px) {
  .feedback-container .feedback {
    padding: 30px 0;
  }
}

.feedback-container .feedback .description {
  letter-spacing: 3px;
  color: #D4B254;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.feedback-container .feedback .feedback-inner {
  max-width: 600px;
  margin: 20px auto 35px;
}

@media screen and (max-width: 767px) {
  .feedback-container .feedback .feedback-inner {
    width: calc(100% - 45px);
    margin: 25px auto;
  }
}

.feedback-container .feedback .feedback-inner p {
  font-size: 18px;
  line-height: 32px;
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  .feedback-container .feedback .feedback-inner p {
    font-size: 13px;
    line-height: 18px;
  }
}

.feedback-container .feedback .swiper-container {
  max-width: 1000px;
}

.feedback-container .feedback .swiper-container .swiper-button-prev,
.feedback-container .feedback .swiper-container .swiper-button-next {
  color: #D4B254;
}

@media screen and (max-width: 767px) {
  .feedback-container .feedback .swiper-container .swiper-button-prev::after,
  .feedback-container .feedback .swiper-container .swiper-button-next::after {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .feedback-container .feedback .swiper-container .swiper-button-prev {
    left: -5px;
  }

  .feedback-container .feedback .swiper-container .swiper-button-next {
    right: -5px;
  }
}

.gallery-container {
  width: 100%;
  background: #ffffff;
  margin: auto;
  text-align: center;
  padding: 93px 0;
}

@media screen and (max-width: 767px) {
  .gallery-container {
    padding: 35px 0;
  }
}

.gallery-container .image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-container .image-modal .close {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 18px;
  background: #000000;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}

.gallery-container .image-modal img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-container .image-modal #close {
  position: absolute;
  z-index: 11;
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.gallery-container h3 {
  margin: 0 0 25px;
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .gallery-container h3 {
    margin: 0;
  }
}

.gallery-container button {
  margin-top: 40px;
}

.gallery-container .gallery {
  display: flex;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-container .gallery .image {
  width: 310px;
  height: 310px;
  margin: 10px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.gallery-container .gallery .image:hover {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

@media screen and (max-width: 767px) {
  .gallery-container .gallery .image {
    width: 140px;
    height: 140px;
    margin: 5px;
  }
}

body {
  padding: 0;
  margin: 0;
  background: #aaaaaa;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #777777;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 13px;
    line-height: 18px;
  }
}

body .content-container {
  max-width: 2000px;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

body img {
  max-width: 100%;
  max-height: 100%;
}

body a {
  color: #ffffff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

body p {
  line-height: 28px;
  margin: 30px 0;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  font-weight: 700;
  margin: 0;
}

body h1 {
  font-size: 52px;
  line-height: 58px;
  margin: 10px 0;
}

body h1.shadow {
  text-shadow: 0 0 25px #00000080;
}

@media screen and (max-width: 991px) {
  body h1 {
    font-size: 28px;
    line-height: 32px;
  }
}

body h2 {
  font-size: 42px;
  line-height: 52px;
  color: #222222;
  margin: 10px 0;
}

@media screen and (max-width: 991px) {
  body h2 {
    font-size: 24px;
    line-height: 28px;
  }
}

body h3 {
  font-size: 32px;
  line-height: 42px;
  color: #222222;
  margin: 10px 0;
}

@media screen and (max-width: 991px) {
  body h3 {
    font-size: 21px;
    line-height: 25px;
  }
}

body h4 {
  font-size: 24px;
  line-height: 42px;
  color: #ffffff;
  margin: 10px 0;
}

@media screen and (max-width: 991px) {
  body h4 {
    font-size: 21px;
    line-height: 25px;
  }
}

body button {
  background: #D4B254;
  box-shadow: 0 2px 10px #00000033;
  transition: 0.2s ease-in-out;
  border: 0;
  border-radius: 30px;
  line-height: 20px;
  text-transform: uppercase;
  height: 60px;
  padding: 0 60px;
  color: #ffffff;
  letter-spacing: 3px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 991px) {
  body button {
    height: 40px;
    padding: 0 40px;
    font-size: 12px;
    line-height: 14px;
  }
}

body button:hover {
  background: #C8A74B;
  box-shadow: 0 2px 5px #00000033;
}

body button.ghost {
  border: 1px solid #D4B254;
  background: transparent;
  box-shadow: none;
  padding: 0 40px;
}

body button.ghost.white {
  border: 1px solid #ffffff;
}

body button.ghost.white:hover {
  background: #ffffff;
  color: #000000;
}

body button.hamburger {
  opacity: 1 !important;
  min-width: auto;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  background: none;
  height: 24px;
}

@media screen and (min-width: 991px) {
  body button.hamburger {
    display: none;
  }
}

body button.hamburger .hamburger-inner,
body button.hamburger .hamburger-inner::before,
body button.hamburger .hamburger-inner::after {
  background: #ffffff !important;
}

body .content-container {
  margin: auto;
  max-width: 2000px;
  width: 100%;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

#loading .lds-ripple div {
  position: absolute;
  border: 4px solid #D4B254;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#loading .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

