.footer-container {
    width: calc(100% - 30px);
    background: url("/images/top-slider/slide1.jpg");
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px 15px 100px;
    overflow-y: hidden;

    @media screen and (max-width: 400px) {
        padding: 35px 15px 60px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    .footer {
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: space-between;
        max-width: 900px;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;

        @media screen and (max-width: 400px) {
            flex-direction: column;
        }

        h4 {
            margin-bottom: 20px;

            @media screen and (max-width: 400px) {
                margin-bottom: 10px;
            }
        }

        .block {
            width: 25%;
            margin-top: 25px;

            @media screen and (max-width: 767px) {
                width: 50%;
            }

            @media screen and (max-width: 400px) {
                width: 100%;
                margin-top: 5px;

                ul {
                    justify-content: center;

                    i {
                        margin: 0 5px;
                    }
                }
             }

            &.social {
                @media screen and (max-width: 400px) {
                   text-align: center;
                }

                ul {
                    display: flex;
                    
                    i {
                        background: $white;
                        color: $black;
                        height: 40px;
                        width: 40px;
                        margin-right: 15px;
                        border-radius: 100%;
                        font-size: 22px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        letter-spacing: 0;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            background: $main-color;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    a {
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 30px;
        cursor: pointer;

        &:hover {
            color: $main-color;
        }
    }

    .copyrights {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        z-index: 2;
        text-align: center;
        font-size: 13px;
        line-height: 26px;
        margin-top: 50px;
        width: 100%;
        max-width: 1300px;

        &::before {
            content: "";
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -50px;

            @media screen and (max-width: 400px) {
                bottom: -25px;
            }
        }
    }

    .logo {
        position: relative;
        z-index: 2;
        max-width: 1300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        span {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            width: 100%;
        }

        img {
            max-width: 150px;
            position: relative;
            margin: 0 20px;

            &::before {
                content: "";
                background: rgba(255, 255, 255, 0.3);
                height: 1px;
                width: calc(100% - 150px);
                left: 0;
            }
        }
    }
}