.header-container {
    height: 900px;

    @media screen and (max-width: 991px) {
        height: 450px;
        position: relative;
        z-index: 10;    
    }

    .slider-container {
        position: absolute;
        width: 100%;
        height: 900px;
        top: 0;
        left: 0;

        @media screen and (max-width: 991px) {
            height: 450px;
        }

        .swiper-container {
            height: 100%;
    
            .slide {
                height: 100%;
                width: 100%;
                background-position: center center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                &::before {
                    content: "";
                    background-color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
                
                .slide-inner {
                    max-width: 686px;
                    position: relative;

                    @media screen and (max-width: 991px) {
                        padding: 0 15px;
                    }
    
                    .slide-description {
                        font-size: 13px;
                        line-height: 18px;
                        color: $white;
                        text-shadow: 0 0 4px $black;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                    }
        
                    h1 {
                        color: $white;
                        letter-spacing: -1px;
                    }
    
                    button {
                        margin-top: 25px;
                    }
                }
            }
    
            .swiper-pagination {
                bottom: 30px;
                
                .swiper-pagination-bullet {
                    opacity: 1;
                    width: 50px;
                    height: 5px;
                    border-radius: 2.5px;
                    background: $white;
                    margin: 0 5px;
    
                    &-active {
                        background: $main-color;
                    }
                }
            }
        }
    }

    .header-inner {
        max-width: 1300px;
        width: calc(100% - 30px);
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        padding: 0 15px;
        transition: 0.2s ease-in-out;

        &::before {
            content: "";
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            position: absolute;
            bottom: -30px;
            width: calc(100% - 30px);
        }

        @media screen and (min-width: 991px) {
            &.sticky {
                position: fixed;
                background-color: rgba(0, 0, 0, 0.5);
                top: 0;
                padding: 30px;
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
                max-width: 1160px;
                
                &::before {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 991px) {
            position: fixed;
            top: 0;
            height: 70px;
            left: 0;
            max-width: 100%;
            width: calc(100% - 30px);
            transform: inherit; 
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.3);
            height: auto;
            padding: 15px 15px 12px;
            
            &::before {
                display: none;
            }

            .menu-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        }

        .menu-container {
            .menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                position: relative;

                @media screen and (max-width: 991px) {
                    display: flex;
                    position: absolute;
                    width: 200px;
                    flex-direction: column;
                    background: rgba(0, 0, 0, 0.85);
                    right: 70px;
                    top: 20px;
                    padding: 15px;
                    opacity: 0;
                    pointer-events: none;
                    transition: 0.2s ease-in-out;

                    &.active {
                        opacity: 1;
                        pointer-events: all;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        right: -6px;
                        top: 9px;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        border-left: 6px solid rgba(0, 0, 0, 0.85);
                    }

                    .order {
                        margin: 15px auto 0;
                    }

                    .social {
                        margin: 0 auto 15px;

                        i {
                            font-size: 22px;
                        }
                    }
                    
                    .menu-left,
                    .menu-right {
                        width: 100%;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .right-menu,
                        .left-menu {
                            width: 100%;
                        }

                        ul {
                            justify-content: flex-start;

                            li {
                                text-align: left;
                                margin: 0;
                                padding: 4px 0;
                            }
                        }
                    }
                }
            }

            ul {
                display: flex;
                justify-content: center;

                li {
                    margin: 0 20px;
                }
            }

            a {
                font-size: 13px;
                line-height: 18px;
                text-transform: uppercase;
                letter-spacing: 3px;
                cursor: pointer;
                position: relative;

                &:hover {
                    color: $main-color;
                    text-shadow: 0 0 4px $shadow-gray;
                }
            }

            .logo {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @media screen and (max-width: 991px) {
                    transform: inherit;
                    position: static;
                }

                img {
                    max-width: 120px;
                }
            }

            .menu-left,
            .menu-right {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .menu-left {
                margin-right: 10%;
                width: 40%;

                @media screen and (max-width: 1200px) {
                    ul {
                        flex-direction: column;
                    }
                }
            }

            .menu-right {
                margin-left: 10%;
                width: 40%;
                
                @media screen and (max-width: 1200px) {
                    ul {
                        flex-direction: column;
                        
                        li {
                            text-align: right;
                        }
                    }
                }
            }

            .social {
                i {
                    font-size: 16px;
                    margin: 0 4px;
                }
            }

            .order {
                button {
                    height: 50px;

                    @media screen and (max-width: 991px) {
                        height: 40px;
                        padding: 0 25px;
                    }
                }
            }
        }
    }
}