.feedback-container {
    padding: 0 15px;
    margin: auto;
    background: $gray;
    width: calc(100% - 30px);

    .feedback {
        max-width: 1300px;
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 120px 0;

        @media screen and (max-width: 767px) {
            padding: 30px 0;
        }

        .description {
            letter-spacing: 3px;
            color: $main-color;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
        }

        .feedback-inner {
            max-width: 600px;
            margin: 20px auto 35px;

            @media screen and (max-width: 767px) {
                width: calc(100% - 45px);
                margin: 25px auto;
            }

            p {
                font-size: 18px;
                line-height: 32px;
                margin: 20px 0;

                @media screen and (max-width: 767px) {
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }

        .swiper-container {
            max-width: 1000px;

            .swiper-button-prev,
            .swiper-button-next {
                color: $main-color;

                @media screen and (max-width: 767px) {
                    &::after {
                        font-size: 24px;
                    }
                }
            }

            @media screen and (max-width: 767px) {
                .swiper-button-prev {
                    left: -5px;
                }
    
                .swiper-button-next {
                    right: -5px;
                }
            } 
        }
    }
}