.gallery-container {
    width: 100%;
    background: $white;
    margin: auto;
    text-align: center;
    padding: 93px 0;

    @media screen and (max-width: 767px) {
        padding: 35px 0;
    }

    .image-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: center;

        .close {
            position: fixed;
            right: 15px;
            top: 15px;
            width: 18px;
            background: $black;
            border-radius: 100%;
            padding: 10px;
            cursor: pointer;
        }
      
        img {
          max-width: 100%;
          max-height: 100%;
        }
      
        #close {
          position: absolute;
          z-index: 11;
          right: 10px;
          top: 10px;
          cursor: pointer;
          width: 45px;
          height: 45px;
        }
      }

    h3 {
        margin: 0 0 25px;
        padding: 10px 0;

        @media screen and (max-width: 767px) {
            margin: 0;
        }
    }

    button {
        margin-top: 40px;
    }

    .gallery {
        display: flex;
        max-width: 1300px;
        width: 100%;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;

        .image {
            width: 310px;
            height: 310px;
            margin: 10px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
                filter: none;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
            }

            @media screen and (max-width: 767px) {
                width: 140px;
                height: 140px;
                margin: 5px;
            }
        }
    }
}
