.text-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 667px;
    background: $white;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
    }

    ::ng-deep .LazyLoad {
        width: 100%;
        height: 100%;
    }

    .image {
        max-width: 1000px;
        min-width: 50%;
        background: url("/images/block-image.jpg");
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 100%;
        }
    }

    .text-block {
        padding-left: 70px;
        padding-right: 15px;
        width: 50%;

        .block-inner {
            max-width: 580px;
        }
        
        @media screen and (max-width: 991px) {
            padding-left: 35px;
        }

        @media screen and (max-width: 767px) {
            padding: 30px 15px;
            width: calc(100% - 30px);

            p {
                margin: 0 0 15px;
            }
        }

        .description {
            letter-spacing: 3px;
            color: $main-color;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
        }
    }
}